img{
    height: 60%;
    width: 60%;
}

.oferta{
  border: 2px solid rgb(183, 141, 223);
  background-color: lightsteelblue;
}

button{
  background-color: #929da8;
  border-color: #797d81;
  color: #fff;
}

input{
  max-width: 40px;
}
