<div id="compra" class="input-group">
  <div id="btn-decrementar" class="input-group-append">
    <button class="btn btn-sm active" (click)="decrementar()">-</button>
  </div>
  <input id="input"
    type="text"
    [(ngModel)]="cantidad"
    (keyup)="changeCantidad($event)">
  <div id="btn-incrementar" class="input-group-append">
    <button class="btn btn-sm active" (click)="incrementar()">+</button>
  </div>
</div>

<span *ngIf="!esNumero"> Ingrese un valor númerico</span>
<span *ngIf="error"> Ingrese un valor entre 0 y {{max}}</span>
